<div>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
      <div>验证规则设置</div>
      </h3>
    </div>
    <form class="form-horizontal panel-body">
      <div class="">
        <div>
          <table class="table table-bordered">
            <tr>
              <td><label>验证规则名称</label></td>
              <td><label>检查模式</label></td>
              <td width="50%"><label>正则表达式</label></td>
              <td><label>错误提示</label></td>
              <td><label>操作</label></td>
            </tr>
            <tr ng-repeat="validator in Validators">
              <td><label>{{validator.validator_name}}</label></td>
              <td><label>{{validator.validator_invoke}}</label></td>
              <td><label>{{validator.validator_patten}}</label></td>
              <td><label>{{validator.validator_error}}</label></td>
              <td>
                <button class="btn btn-primary btn-small glyphicon glyphicon-pencil" type="button" ng-click="editValidatorField(validator)"></button>
                <button class="btn btn-danger btn-small right glyphicon glyphicon-remove" type="button" ng-click="deleteValidatorField(validator)"></button>
              </td>
            </tr>
          </table>
          <table class="table table-bordered">
            <tr>
              <td><label>验证规则名称</label></td>
              <td>
                <div class="col-md-6">
                  <input type="text" class="form-control" ng-model="validatorField.validator_name">
                </div>
              </td>
            </tr>
            <tr>
              <td><label>检查模式</label></td>
              <td>
                <div class="col-md-6">
                <select class="form-control" ng-model="validatorField.validator_invoke" ng-options="type for type in getInvokeTypes()"></select>
              </div>
            </td>
          </tr>
          <tr>
            <td><label>正则表达式</label></td>
            <td>
              <div class="col-md-6">
                <input type="text" class="form-control" ng-model="validatorField.validator_patten">
              </div>
            </td>
          </tr>
          <tr>
            <td><label>错误提示</label></td>
            <td>
              <div class="col-md-6">
                <input type="text" class="form-control" ng-model="validatorField.validator_error">
              </div>
            </td>
          </tr>
        </table>
      </div>
      <button class="btn btn-primary btn-small" type="button" ng-click="addNewValidatorField(validatorField)">保存</button>
    </div>
  </form>
</div>