	
     <div class="row">
         <div class="col-md-3">
		      <div class="zTreeDemoBackground left" ng-controller="storeTreeController">
		         <ul storetree id="treeDemo" class="ztree"></ul>
	          </div>
		 </div>

		
		 <div  class="col-md-9" >
             <div  ng-controller="storeInfoController" ng-show="storeShow">
				 	<h4>{{title}}</h4>
				 	<div  class="panel panel-info" >
						<div class="panel-heading ">
			                  业务数据集管理
						     <button type="button" class="btn btn-primary btn-sm" ng-click="createStoreInfo()" >新增</button>
                             <button type="button" class="btn btn-primary btn-sm" ng-click="saveStoreInfo()" >保存</button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="testComplex()" >测试</button>

						</div>

					    <div class="panel-body">
                            <div class="gridStyle" ng-grid="gridOptions"></div>
					    </div>
				    </div><!--mid-panel-->
				  </div> <!--col-md-6-->
         </div>
</div>


					

			



     
	


   