<div class="col-sm-3 col-md-2 sidebar" ng-init="selectedItem=1">
    <ul class="nav nav-sidebar">
        <!--<li id="1" ng-class="{active:selectedItem==1}" ng-click="selectedItem=1"><a href="#/users">用户管理 <span class="sr-only">(current)</span></a>-->
        <!--</li>-->
        <!--<li id="2" ng-class="{active:selectedItem==2}" ng-click="selectedItem=2"><a href="#/countries">国家列表</a></li>-->
        <!-- <li id="3" ng-class="{active:selectedItem==3}" ng-click="selectedItem=3"><a href="#/forms/create">表单设计器</a></li> -->
        <li id="4" ng-class="{active:selectedItem==4}" ng-click="selectedItem=4"><a href="#/tabDemo">TAB控件</a></li>
        <li id="5" ng-class="{active:selectedItem==5}" ng-click="selectedItem=5"><a href="#/designer">设计器</a></li>
        <li id="2" ng-class="{active:selectedItem==2}" ng-click="selectedItem=2"><a href="#/list">查看业务表详细</a></li>
        <li id="6" ng-class="{active:selectedItem==6}" ng-click="selectedItem=6"><a href="#/preCreate">由业务表生成form表</a></li>
    </ul>
    <!--<ul class="nav nav-sidebar">-->
        <!--<li id="5" ng-class="active:false" ng-click="selectedItem=1"><a href="">Nav item</a></li>-->
        <!--<li id="6" ng-class="active:false" ng-click="selectedItem=1"><a href="">Nav item again</a></li>-->
        <!--<li id="7" ng-class="active:false" ng-click="selectedItem=1"><a href="">One more nav</a></li>-->
        <!--<li id="8" ng-class="active:false" ng-click="selectedItem=1"><a href="">Another nav item</a></li>-->
        <!--<li id="9" ng-class="active:(selectedItem=='9')" ng-click="selectedItem=1"><a href="">More navigation</a></li>-->
    <!--</ul>-->
    <!--<ul class="nav nav-sidebar">-->
        <!--<li id="10" ng-class="active:(selectedItem=='10')" ng-click="selectedItem=1"><a href="">Nav item again</a></li>-->
        <!--<li id="11" ng-class="active:(selectedItem==11)" ng-click="selectedItem=1"><a href="">One more nav</a></li>-->
        <!--<li id="12" ng-class="active:(selectedItem==12)" ng-click="selectedItem=1"><a href="">Another nav item</a></li>-->
    <!--</ul>-->
</div>