<div>
    <div class="box box-element ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i><div class="remove btn-danger btn-xs">删除</div></a> <span class="drag label"><i class="icon-move"></i><div class="btn btn-success btn-xs " >拖动</div></span>
            	 <span class="configuration"><button type="button" id={{id}}  class="btn btn-mini" onclick="editePage(id)" role="button">编辑</button> <span class="btn-group"> <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">对齐 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li class="active"><a href="#" rel="">默认</a></li>
                  <li class=""><a href="#" rel="text-left">靠左</a></li>
                  <li class=""><a href="#" rel="text-center">居中</a></li>
                  <li class=""><a href="#" rel="text-right">靠右</a></li>
              </ul>
              </span> <span class="btn-group"> <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">标记 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li class="active"><a href="#" rel="">默认</a></li>
                  <li class=""><a href="#" rel="muted">禁用</a></li>
                  <li class=""><a href="#" rel="text-warning">警告</a></li>
                  <li class=""><a href="#" rel="text-error">错误</a></li>
                  <li class=""><a href="#" rel="text-info">提示</a></li>
                  <li class=""><a href="#" rel="text-success">成功</a></li>
              </ul>
              </span> </span>
        <div class="preview">grid</div>
        <div class="view">
            <div class="pageContent">

            </div>
        </div>
    </div>

</div>